body {
    color: #0096DA;
    font-family: 'Varela Round', sans-serif;
    background: #dedede;
}

.top {
    height: 70px;
    background: white;
}

.logo {
    background: url('../img/logo.png');
    background-repeat: no-repeat;
    position: relative;
    top: 15px;
    height: 36px;
    background-position-x: 20%;
}

.wizard {
    height: 100px;
    background: #444;
    background-image: url('../img/addresses.png');
    background-repeat: no-repeat;
    background-position-x: 27%;
    background-position-y: 17px;
}

.name-filter {
    margin-top: 15px;
    margin-bottom: 30px;
}

.name-filter .btn {
    padding: 5px 4px;
    width: 30px;
}

.name-filter .btn:not(:first-child) {
    margin-left: 10px;

}

.decide {
    margin-bottom: 25px;
}

.select {
    margin-bottom: 20px;
}

.contact-list {
    margin: 0;
    list-style-type: none;
}

.contact-card {
    background: #ccc;
    color: #555;
    float: left;
    margin: 0 10px 10px 0;
    width: 48%;
    height: 110px;
    border: 1px solid #aaa;
    border-radius: 5px;
    padding-bottom: 30px;
}

.contact-card:hover {
    border: 1px solid #097AAD;
}

.contact-card-selected {
    border: 1px solid #099DD6;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    background: #f1f1f1;
    color: #099DD6;
}

a.new-contact {
    width: 44%;
    height: 35px;
    padding-top: 24px;
    font-size: 26px;
}

.icon-new {
    color: #0069a3;
    position: relative;
    top: -5px;
}

.contact-card li:nth-child(even) {
    margin-right: 0;
}

.contact-card-content {
    list-style-type: none;
    padding-top: 21px;
}

.contact-card-content li {
    display: inline-block;
}

.contact-card-avatar {
    font-size: 40px;
    padding: 12px 15px;
    background: white;
}

.contact-card-avatar-icon {
    font-size: 40px;
    padding: 7px 15px;
    background: white;
}

.contact-card-contact {
    position: relative;
    top: 7px;
    padding-left: 15px;
    margin-right: 20px !important;
    top: -2px;
    cursor: default;
}

.contact-card-select {
    cursor: pointer;
    width: 200px;
    padding-top: 5px;
    margin-left: 6px;
}

.contact-card-edit {
    z-index: 999;
    float: right;
    padding-top: 30px;
    padding-right: 17px;
}

.edit-icon {
    margin-right: 5px;
    color: #444;
}

.edit-link {
    color: #444;
}

.edit-link:hover {
    color: #444 !important;
    text-decoration: none !important;
}

.container {
    width: 63%;
}

#contacts-panel {
    margin-top: 30px;
}

#contacts-panel > h1 {
    margin-bottom : 10px;
}

#contacts-panel > h2 {
    margin-bottom : 10px;
}

#contacts-panel .form-inline {
    margin-bottom : 20px;
}

.edit-contact {
    margin-top: 20px;
    padding: 20px;
    background: #ccc;
    border-radius: 10px;
    border: 1px solid #aaa;
    width: 400px;
}

.form-control-field {
    position: relative;
    left: -59px;
}

.address-field {
    width: 245px;
}

.contact-field {
    margin: 0;
}

header {
    margin-top: 14px;
}

.row > span:first-of-type{
    font-size: 25px;
    font-weight: bold;
}

.row > div {
    margin-right:5px;
    display:inline-block;
}

.btn-last {
    margin-right: 20px;
}

.arrange-text {
    position: relative;
    left: 90px;
    top: -30px;
}

.btn-touchnote {
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #097AAD;
    *background-color: #097AAD;
    background-image: -moz-linear-gradient(top, #099DD6, #097AAD);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#099DD6), to(#097AAD));
    background-image: -webkit-linear-gradient(top, #099DD6, #097AAD);
    background-image: -o-linear-gradient(top, #099DD6, #097AAD);
    background-image: linear-gradient(to bottom, #099DD6, #097AAD);
    background-repeat: repeat-x;
    border-color: #097AAD;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#099DD6', endColorstr='#097AAD', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    -webkit-transition: .7s !important;
}

.btn-touchnote:hover,
.btn-touchnote:focus,
.btn-touchnote:active,
.btn-touchnote.active,
.btn-touchnote.disabled,
.btn-touchnote[disabled] {
    color: #FFFFFF;
    background-color: #097AAD;
    *background-color: #003bb3;
}