<div>
  <div ng-if="arrangeBy == 'firstname'" class="contact-field">{{contact.firstname}} {{contact.lastname}}</div>
  <div ng-if="arrangeBy == 'lastname'" class="contact-field">{{contact.lastname}}, {{contact.firstname}}</div>
  <h6 class="contact-field">{{contact.address}}</h6>
  <h6 class="contact-field">{{contact.linetwo}}</h6>
  <h6 class="contact-field">{{contact.town}}</h6>
  <h6 class="contact-field">{{contact.county}}</h6>
  <h6 class="contact-field">{{contact.postalcode}}</h6>
</div>