<h5 class="select">Select who to send your card to</h5>
<a class="new-contact btn btn-large btn-touchnote" ng-href="#/edit/">
    <i class="fa fa-plus pull-left icon-new"></i>
    Enter new address
</a>
<div class="name-filter">
    <a class="btn btn-touchnote" ng-class="{'active': group === 'all'}" ng-click="setGroup('all')">All</a>
    <a class="btn btn-touchnote" ng-class="{'active': group === 'a-e'}" ng-click="setGroup('a-e')">A-E</a>
    <a class="btn btn-touchnote" ng-class="{'active': group === 'f-k'}" ng-click="setGroup('f-k')">F-K</a>
    <a class="btn btn-touchnote" ng-class="{'active': group === 'l-p'}" ng-click="setGroup('l-p')">L-P</a>
    <a class="btn btn-touchnote" ng-class="{'active': group === 'q-v'}" ng-click="setGroup('q-v')">Q-V</a>
    <a class="btn btn-touchnote" ng-class="{'active': group === 'w-z'}" ng-click="setGroup('w-z')">W-Z</a>
    <a class="btn-last pull-right btn btn-touchnote" ng-class="{'active': arrangeBy == 'lastname'}" ng-click="setArrange('lastname'); setGroup(group)">Last</a>
    <a class="btn-first pull-right btn btn-touchnote" ng-class="{'active': arrangeBy == 'firstname'}" ng-click="setArrange('firstname'); setGroup(group)">First</a>
    <div class="arrange-text pull-right">Arrange by</div>
</div>
<ul class="contact-list">
    <li class="contact-card" ng-repeat="contact in contacts | orderBy: arrangeBy">
        <ul class="row-fluid contact-card-content">
            <li class="span2 contact-card-avatar">
                <i class="fa fa-user"></i>
            </li>
            <li class="span5 contact-card-contact">
                <contact-info contact="contact"></contact-info>
            </li>
            <li class="span3 contact-card-edit">
                    <a class="edit-link pull-right" ng-href="#/edit/{{$index}}">
                        <i class="edit-icon fa fa-pencil"></i>
                        Edit
                    </a>
            </li>
        </ul>
    </li>
</ul>