<form name="editForm" class="edit-contact form-horizontal" ng-submit="saveContact()">
    <div class="control-group" ng-class="{error: editForm.firstname.$dirty && editForm.firstname.$invalid}">
        <label class="control-label">First name</label>
        <div class="controls">
            <input class="address-field" type="text" name="firstname" ng-model="contact.firstname" required>
            <p class="help-inline" ng-show="editForm.firstname.$dirty && editForm.firstname.$error.required">Name is a required field.</p>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Last name</label>
        <div class="controls">
            <input class="address-field" type="text" name="lastname" ng-model="contact.lastname">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Address</label>
        <div class="controls">
            <input class="address-field" type="text" name="address" ng-model="contact.address">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label"></label>
        <div class="controls">
            <input class="address-field" type="text" name="linetwo" ng-model="contact.linetwo">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Town</label>
        <div class="controls">
            <input class="address-field" type="text" name="town" ng-model="contact.town">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">County</label>
        <div class="controls">
            <input class="address-field" type="text" name="address2" ng-model="contact.county">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Postal code</label>
        <div class="controls">
            <input class="address-field" type="text" name="postalcode" ng-model="contact.postalcode">
        </div>
    </div>
    <div class="controls">
        <a class="btn" ng-href="#/list">Cancel</a>
        <a class="btn btn-touchnote" ng-click="saveContact()" ng-disabled="editForm.$invalid">Submit</a>
    </div>
</form>
